asteval==0.9.21
autograd==1.3
certifi==2020.6.20
cma==2.7.0
cycler==0.10.0
func-timeout==4.3.5
future==0.18.2
geneticalgorithm==1.0.1
kiwisolver==1.3.0
lmfit==1.0.1
matplotlib==3.3.2
numpy==1.19.2
Pillow==8.0.1
pymoo==0.4.2.1
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyswarm==0.6
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.4
six==1.15.0
tqdm==4.50.2
uncertainties==3.1.4
